@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathe {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.breathe {
  animation: breathe 4s ease-in-out infinite;
}

::selection {
  background: #777;
  color: #fff;
}
